<html>
<head>
    <title>{% block siteTitle %}{% endblock %}</title>
    <!-- Externe Styles -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/css/materialize-0.97.6.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block customStyles %}{% endblock %}
    <!--Externe Scripts-->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('bundles/frontend/js/DateFormat.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block customScripts %}{% endblock %}
    <style>
        * {
            padding: 0;
            margin: 0;
            position: relative;
        }

        body {
            width: 100%;
            height: 100%;
            height: 100vh;
        }

        .decision-style label {
            color: #505050;
        }

        .brand-logo{
            height: 100%;
        }

        .logo-img{
            height: 100%;
        }

        h1 {
            font-size: 2.4rem;
            font-weight: bold;
        }

        .header {
            width: 100%;
        }

        .title {
            text-align: center;
            padding-top: 50px;

        }

        /* label color */
        .input-field label {
            color: #6882A2;
        }


        .btn{
            background-color: #6882A2;
            border-radius: 20px;
        }

        /* label focus color */
        .input-field input[type=text]:focus + label {
            color: #6882A2;
        }

        /* label underline focus color */
        .input-field input[type=text]:focus {
            border-bottom: 1px solid #6882A2;
            box-shadow: 0 1px 0 0 #6882A2;
        }

        /* valid color */
        .input-field input[type=text].valid {
            border-bottom: 1px solid #6882A2;
            box-shadow: 0 1px 0 0 #6882A2;
        }

        /* invalid color */
        .input-field input[type=text].invalid {
            border-bottom: 1px solid #6882A2;
            box-shadow: 0 1px 0 0 #6882A2;
        }

        /* icon prefix focus color */
        .input-field .prefix.active {
            color: #6882A2;
        }


        a:not(:link) {
            color: inherit;
        }

        a:link:hover {
            color: #03cce5;
        }

        a:visited {
            color: #0345e5;
        }

        a:visited:hover {
            color: #039be5;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('ul li .logout').click(function (event) {
                localStorage.setItem('apikey', null);
                sessionStorage.clear();
                window.open('{{ path('whitelist-request.login') }}', '_self');
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<header class="header navbar-fixed">
    <nav>
        <div class="nav-wrapper grey lighten-3">
            <div class="brand-logo " style="margin-left: 1%; margin-top: 1px">
                <a href="#" class="brand-logo"><img class="logo-img"
                                                    src="{{ asset('bundles/frontend/img/LogoAusbildung.png') }}"
                                                    alt="LogoAusbildung-Logo"
                                                    style="padding-bottom: 15px; padding-top: 15px"/></a>
            </div>
            {% block headerLinks %}
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"
                                                                                    style="color: #6882A2">menu</i></a>
                <ul class="right hide-on-med-and-down ">
                    <li><a class="waves-effect waves-light black-text"
                           href="{{ path('whitelist-request.list',{'username' : username }) }}">Anfragen</a></li>
                    <li><a class="waves-effect waves-light black-text"
                           href="{{ path('whitelist-request.form',{'username': username}) }}">Anfrage Erstellen</a></li>
                    <li><a class="waves-effect waves-light black-text logout" href="#">Logout</a></li>
                    {% block headerLinksRight %}{% endblock %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a class="waves-effect waves-light"
                           href="{{ path('whitelist-request.list',{'username' : username }) }}">Anfragen</a></li>
                    <li><a class="waves-effect waves-light"
                           href="{{ path('whitelist-request.form',{'username': username}) }}">Anfrage Erstellen</a></li>
                    <li><a class="waves-effect waves-light logout" href="#">Logout</a></li>
                    {% block headerLinksSide %}{% endblock %}
                </ul>
            {% endblock %}
        </div>
    </nav>
</header>
<main class="main">
    <div class="title">
        {% block title %}
            <h1>Base HTML Title</h1>
        {% endblock %}
    </div>
    {% block mainContent %}
        <h1>Das ist mein base template main content</h1>
    {% endblock %}
</main>
<footer class="footer"></footer>
</body>
</html>