{% extends('FrontEndBundle::base.html.twig') %}
{% block customscripts %}
<script>
    'use strict';
$(document).ready(function(){
    $.get( '{{ path('list_white_list_request',{'username' : username }) }}' , function(data){
        $.each(data,function(index, element){
            var requestTemplate = $('#whitelist-request-row').clone();
            requestTemplate.removeAttr('id');
            requestTemplate.removeClass('template');
            var img = document.createElement('img');
            img.alt='statusbild';
            switch(element.whitelist_target.state){
                case 0: requestTemplate.addClass('pending'); img.src='{{ asset('bundles/frontend/img/pending.png') }}'; break;
                case 1: requestTemplate.addClass('allowed'); img.src='{{ asset('bundles/frontend/img/allowed.png') }}'; break;
                case 2: requestTemplate.addClass('denied'); img.src='{{ asset('bundles/frontend/img/denied.png') }}'; break;
                default: break;
            }
            var foramttedDate = new Date(element.created);
            foramttedDate = foramttedDate.format('dd.mm.yyyy " um " H:MM " Uhr"');
            requestTemplate.find('.domain').text(element.whitelist_target.domain);
            //requestTemplate.find('.state').text(element.whitelist_target.state);
            requestTemplate.find('.state').append(img);
            requestTemplate.find('.reason').text(element.reason);
            requestTemplate.find('.created').text(foramttedDate);
            $('#request-table-body').append(requestTemplate);
            //requestTemplate.delay(index*150).fadeIn(300);
        });
    });
});
</script>
{% endblock %}
{% block title %}
    <h1>Meine Whitelist-Anfragen</h1>
{% endblock %}
{% block maincontent %}
<table class="request-table">
    <thead>
        <tr class="request-table-header">
            <th>Domain</th>
            <th class="state">Status</th>
            <th>Grund</th>
            <th>Erstellt am</th>
        </tr>
    </thead>
    <tbody id="request-table-body">
        <tr id="whitelist-request-row" class="request template">
            <td class="domain"></td>
            <td class="state"></td>
            <td class="reason"></td>
            <td class="created"></td>
        </tr>
    </tbody>
</table>
<div class="links">
    <a href="{{ path('whitelist-request.form', {'username': username}) }}">Whitelist-Anfrage Erstellen</a>
</div>
{% endblock %}

{% block customstyles %}
<!--<link rel="stylesheet" href="{{ asset('bundles/frontend/css/index.css') }}"/>-->
<style>
.header{
    text-align:         center;
}
.template {
    display: none;
}
.request-table{
    width:              100%;
    border-collapse:    collapse;
}
.request-table-header{
    background:         #222222;
    color:              #fff;
}
.request{
    background:         #666666;
    color:              #fff;
}
.request:hover{
    outline:            #000 solid 2px;
}
.request.pending{
    background:         #FFCC00;
}
.request.allowed{
    background:         #6b9311;
}
.request.denied{
    background:         #FF0000;
}
.request .state{
    width:              auto;
}

.links{
    margin-top:         10px;
}
</style>
{% endblock %}